*{
  margin: 0px;
  padding: 0 px;
  box-sizing: border-box;
}   
:root{
  --tCol: #FAEBD7;
  --special: silver;
  --ghost:ghostWhite;
  --backG: dimgray;
  --secC:silver;
  --secdddC:#862d59;
  --darker: #19404d;
  --abox:#cc0000;
  --myOrange: rgb(255, 100,10);
  --newBack: rgb(10, 35, 50);
  --inputH: 50px;
}
body{
  background-color: var(--newBack);
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 300px;
  height: 510px;
  background-color: var(--backG);
  border: 2px solid var(--special);
  /* border-radius: 40px; */
  padding: 14px;
  margin: 20px auto;
  -webkit-box-shadow: 0 6px 16px -6px black;

}
.row{
  width: 100%;
  height: var(--inputH);
  padding-top: 12px;
  background-color: var(--backG);
}
#display{
  width:100%;
  height: 70px;
  background-color: var(--newBack);
  font-size: 42px;
  text-align: right;
  padding: 10px 10px 0 0;
  color: var(--special);
  /* border-radius: 25px 25px 0 0; */
}
.rIn{
  width: 100%;
  height: 100%;
  font-size: 24px;
}
.boxLeft{
  width: 40%;
  height: 100%;
  float: left;
}
.rOut{
  width: 50%;
  height: 100%;
  background-color: var(--newBack);
  font-size: 24px;
  text-align: right;
  color: var(--special);
  float: right;
  padding: 5px 10px 0 0;
  overflow: hidden;
}
.btn{
  width: 46%;
  height: var(--inputH);
  background-color: var(--backG);
  font-size: 24px;
  outline: none;
  border: 3px solid silver;
  color: silver;
  /* border-radius: 100px; */
  margin: 0 auto;
}
#rButton:focus, #rButton:hover{
  border: 3px solid var(--myOrange);
  color: var(--myOrange);
}
#cBtn:focus, #cBtn:hover{
  border: 3px solid rgb(0, 170, 40);
  color: rgb(0, 170, 40);
}
footer{
  font-size: 18px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  color: var(--ghost);
}
u{
  font-weight: 300px;
}
a, u{
  color: var(--ghost);
  text-decoration: none;
}
a:focus, a:hover{
  color: silver;
}

