*{
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
}   
:root{
    --tCol: #FAEBD7;
    --special: silver;
    --ghost:ghostWhite;
    --backG:#1f5060;
    --secC:silver;
    --secdddC:#862d59;
    --darker: #19404d;
    --abox:#cc0000;
    --myOrange: rgb(255, 100,10);
    --newBack: dimgray;
    --inputH: 50px;
}
body{
    background-color: var(--newBack);
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardContainer{
    width: 300px;
    height: 510px;
  /*  border: 2px solid var(--special); 
    border-radius: 40px; */
}
#rotateBody{
    width: 100%;
    height: 100%;
    background-color: var(--backG);
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}
/*
.cardContainer:hover #rotateBody{
    transform: rotateY(180deg);
}*/
.card figure{
    width: 100%;
    height: 90%;
    position: absolute;
}
.card .front{
    background: mediumpurple;

}
.card .back{
    background: mediumvioletred;
    transform: rotateY(180deg);

}
/*
.oldContainer{
    width: 300px;
    height: 510px;
    border: 2px solid var(--special);
    border-radius: 40px;
    padding: 14px;
    margin: 20px auto;
    -webkit-box-shadow: 0 6px 16px -6px black;
}
.cardHead{
    width: 100%;
    height: 100;
    color: wheat;
    background-color: mediumpurple;
}
*/
.inFront, .gast{
    width: 250px;
    height: 25px;
}
.okButton{
    width: var(--inputH);
    height: var(--inputH);
    background-color: var(--backG);
    font-size: 24px;
    border: 3px solid silver;
    color: silver;
    border-radius: 100px;

}
.okButton:focus, .okButton:hover{       
    border: 3px solid var(--myOrange);
    color: var(--myOrange);
}
footer{
    font-size: 18px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: var(--ghost);
}
u{
    font-weight: 300px;
}
a, u{
    color: var(--ghost);
    text-decoration: none;
}
a:focus, a:hover{
    color: silver;
}

